{% extends 'base.html' %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="col-sm-offset-3">
        <h1>Hello, Titans!</h1>
        <p>Welcome to the Compact Mobile TITANium simple webpage</p>
        </div>
      </div>
    </div>

    <div class="container">

    <h3>This is a simple webpage to simulate the basic functions of TITANium Learning Management System.</h3>
      <footer>
        <p>&copy; Compact Mobile TITANium, Inc.</p>
      </footer>
    </div> 

{% endblock %}